* {
    background: black;
}
.container {
    color: grey;
}
#answer {
    width: 320px;
    border-radius: 13px;
    box-shadow: inset 5px 5px 3px grey, inset -5px -5px 3px white;
}
.calc {
    background: rgb(200, 200, 200);
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    
}
input {
    font-size: 30px;
    width: 70px;
    height: 60px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 3px grey, -5px -5px 3px white;
    background: rgb(200, 200, 200);
    outline: none;
     box-shadow: 14px 14px 10px #cbced1, -14px -14px 20px white;
    
}
input:hover {
    box-shadow: inset 5px 5px 3px grey, inset -5px -5px 3px white;
    background-color: black;
    color: white;
}
#equal {
    width: 70;
    height: 90px;
    font-size: 50px;
}